[Desktop Entry]
Type=Application
Icon=harbour-sailconnect4
Exec=harbour-sailconnect4
X-Nemo-Application-Type=silica-qt5
Name=SailConnect4

Name[fr]=Puissance4


[X-Sailjail]
OrganizationName=de.poetaster
ApplicationName=harbour-sailconnect4
Permissions=UserDirs
